{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 200,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "printWidth": 200,
        "singleAttributePerLine": false
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "printWidth": 200,
        "singleAttributePerLine": false
      }
    }
  ]
}
